<span class="header">Tube - <%=@tube["name"]%></span>
<% stats = @tube %>
  <div class="header-line"><span>Stats</span></div>
  <div id="block-stats">
    Paused: <%= stats["pause"] == 0 ? "No" : "Yes" %>
    <br />Pause Time Left: <%= stats["pause-time-left"] %>
    <hr />
    <b>Total Jobs</b>: <%= stats["total-jobs"] %>
    <br />Current Jobs Reserved: <%= stats["current-jobs-reserved"] %>
    <br />Current Jobs Urgent: <%= stats["current-jobs-urgent"] %>
    <br />Current Jobs Ready: <%= stats["current-jobs-ready"] %>
    <br />Current Jobs Buried: <%= stats["current-jobs-buried"] %>
    <br />Current Jobs Delayed: <%= stats["current-jobs-delayed"] %>

    <hr />

    Current Watching: <%= stats["current-watching"] %>
    <br />Current Using <%= stats["current-using"] %>
    <br />Current Waiting <%= stats["current-waiting"] %>

  </div>

<div class="header-line"><span>Jobs</span></div>
<div id="block-stats">
Job listing goes here.
<br />Ready -><br />
<% (1..stats["current-jobs-ready"]).each do |i| %>
  <% job = pullJob %>
  <%= "<a href='#{appRoot}/jobs/#{job.id}'>Job ##{i} - #{job.id}</a><br />" %>
  <% pushJob(job.body, {:delay => job.delay, :ttr => job.ttr, :priority => job.pri}) %>
  <% job.release %>
<% end %>
<br />Reserved -><br />
<% (1..stats["current-jobs-reserved"]).each do |i|%>
  <% job = pullJob %>
  <%= "<a href='#{appRoot}/jobs/#{job.id}'>Job ##{i} - #{job.id}</a><br />" %>
  <% pushJob(job.body, {:delay => job.delay, :ttr => job.ttr, :priority => job.pri}) %>
  <% job.release %>
<% end %>
<br />
</div>
<br />
<a href="<%=appRoot%>/tubes">Back</a>
